.console-container {
  width: 700px;
  height: 500px;
  background: #000;
  border: 5px solid #c0c0c0;
  border-top-width: 30px;
  border-radius: 5px;
}
.console-container::before {
  content: '';
  width: 18px;
  height: 18px;
  background: #ff0000;
  position: absolute;
  border-radius: 50%;
  top: 14px;
  left: 15px;
}
.console-container::after {
  content: '';
  width: 18px;
  height: 18px;
  background: #ffa500;
  position: absolute;
  border-radius: 50%;
  top: 14px;
  left: 40px;
}
.typing {
  font-family: 'Anonymous Pro';
  color: #34d834;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
.typing::before {
  content: 'user@user.com : ~ '
}
.typing::after{
  content: '_';
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
